* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  margin: 0%;
}

#whole-page {
  height: 100%;
  width: 100%;
}

#left-side-container {
  position: absolute;
  left: 0%;
  width: 50%;
  height: 100%;
  background: #aec6cf;
  border-right: 1px solid black;
  text-align: justify;
  overflow: auto;
}

#h1-presentation {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid black;
  margin: auto;
}

#left-side-content {
  margin: auto;
  width: 90%;
}

#social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#social-links li {
  margin: 0 10%;
}

#social-links a {
  color: black;
  font-size: larger;
}

#tech-stack {
  list-style-type: disc;
  margin-left: 5%;
}

#certificats {
  margin-left: 5%;
}

#certificats a {
  color: black;
}

#right-side-container {
  position: absolute;
  right: 0%;
  width: 50%;
  height: 100%;
  border-left: 1px solid black;
}

#right-side-content {
  width: 100%;
  height: 100%;
}

#iframe-container {
  width: 100%;
  height: 85%;
  margin: 0%;
  padding: 0%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#additionnal-info {
  border-top: 2px solid black;
  text-align: center;
}

#project-arrow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#project-arrow button {
  border: none;
  background: #aec6cf;
  padding: 2%;
  border: 2px solid black;
}
